{layout name="layout" /}
<h3>控制器 - 步骤1</h3>
{switch name="type" }
{case value="1"}
<h4>公共控制器名字Base</h4>
<form action="{:url('basecontroller')}" method="get">
    选择模块：
    <select name="mokuai">
        <option value="">选择模块</option>
        {volist name="mokuai" id="vo"}
        <option value="{$vo}">{$vo}</option>
        {/volist}
    </select>
    <span style="color: red;">未填写，控制器默命名认为index</span><br /><br />
    <button type="submit" class="btn btn-w-m btn-primary">公共控制器代码</button>
</form>
{/case}
{case value="2"}
<hr />
<form action="{:url('errorontroller')}" method="get">
    选择模块：
    <select name="mokuai">
        <option value="">选择模块</option>
        {volist name="mokuai" id="vo"}
        <option value="{$vo}">{$vo}</option>
        {/volist}
    </select>
    <span style="color: red;">未填写，控制器命名默认为index</span><br /><br />
    <button type="submit" class="btn btn-w-m btn-primary">空控制器代码</button>
</form>
{/case}
{case value="3"}
<h4>
    登录控制器代码<br><br>
    <font color="red" size="2">
        个人认为登录控制器还是比较常用，所以写了一个简单的
    </font><br><br>
    1、调用Login验证器login场景验证和公共方法res() -- res()方法用到扩展配置code.php文件<br><br>
    2、登录控制器直接调用了数据库Db类，没有使用到模型
</h4>
<form action="{:url('logincontroller')}" method="get">
    选择模块：
    <select name="mokuai">
        <option value="">选择模块</option>
        {volist name="mokuai" id="vo"}
        <option value="{$vo}">{$vo}</option>
        {/volist}
    </select>
    <span style="color: red;">未填写，控制器命名默认为index</span><br /><br />
    <button type="submit" class="btn btn-w-m btn-primary">登录控制器代码</button>
</form>
{/case}
{case value="4"}
<h4>
    <font color="red" size="2">
        database.php文件中 resultset_type 的值改为 \think\Collection 否则 使用 toArray()函数会报错
    </font><br><br>
    生成控制器<br><br>
</h4>
<form id="api" action="{:url('controller2')}" method="get">
    <input name="type" id="type1" type="hidden" />
    <h4>
        <input type="checkbox" name="controller" value="Base" id="controller"><label for="controller">是否继承Base公共控制器</label>
    </h4>
    控制器名字:<input name="controller_name" />
    <span style="color: red;">未填写，控制器默认为 index</span><br /><br />
    控制器方法名前缀:<input name="function_name" />
    <span style="color: red;">未填写，方法名前缀默认为 index</span><br /><br />
    选择模块：
    <select name="mokuai" id="mokuai">
        <option value="">选择模块</option>
        {volist name="mokuai" id="vo"}
        <option value="{$vo}">{$vo}</option>
        {/volist}
    </select>
    <br><br>
    <div class="modelLayer" style="display: none;">
        选择调用模型分层：
        <label><input type="radio" name="modelLayer" value="model" checked="checked"/>数据层</label>
        <label><input type="radio" name="modelLayer" value="logic"/>逻辑层</label>
        <label><input type="radio" name="modelLayer" value="service"/>服务层</label>
        <br><br>
    </div>
    选择要调用模型：
    <select name="model" id="model">
    </select>
    <font color="red" size="2">
        模型取至数据层模型 -- model文件夹,如果选择的是服务层或逻辑层，请确保逻辑层、服务层有对应的文件
    </font>
    <br><br>
    <button type="submit" class="btn btn-w-m btn-primary">生成控制器文件</button>
    ---------------
    <button type="button" onclick="api1(2)" class="btn btn-w-m btn-primary">生成控制器 api文件</button>
</form>
{/case}
{case value="5"}
<h4>控制器方法代码 -- 只生成控制器方法，对应增删改查4种方法<br><br></h4>
<form id="api1" action="{:url('controller3')}" method="get">
    <input name="type" id="type" type="hidden" />
    控制器方法名前缀:<input name="function_name" />
    <span style="color: red;">未填写，方法名前缀默认为index</span><br /><br />
    选择模块：
    <select name="mokuai" id="mokuai1">
        <option value="">选择模块</option>
        {volist name="mokuai" id="vo"}
        <option value="{$vo}">{$vo}</option>
        {/volist}
    </select>
    <br><br>
    <div class="modelLayer1" style="display: none;">
        选择调用模型分层：
        <label><input type="radio" name="modelLayer" value="model" checked="checked"/>数据层</label>
        <label><input type="radio" name="modelLayer" value="logic"/>逻辑层</label>
        <label><input type="radio" name="modelLayer" value="service"/>服务层</label>
        <br><br>
    </div>
    选择要调用模型：
    <select name="model" id="model1">
    </select>
    <font color="red" size="2">
        模型取至数据层模型 -- model文件夹,如果选择的是服务层或逻辑层，请确保逻辑层、服务层有对应的文件
    </font>
    <br><br>
    <button type="submit" class="btn btn-w-m btn-primary">生成function代码</button>
    ---------------
    <button type="button" onclick="api1(1)" class="btn btn-w-m btn-primary">生成function api</button>
</form>
{/case}
{/switch}
<script type="text/javascript" src="/static/layui/jquery.min.js"></script>
<script type="text/javascript">
    function api1(type){
        if(type == 1){
            $('#type').val(type);
            $('#api1').submit();
        }else{
            $('#type1').val(type);
            $('#api').submit();
        }
    }
    $("#mokuai").change(function(){
        var data = $("#mokuai").val()
        $.ajax({
            type: 'post',
            url: 'controller_step2',
            data: {mokuai:data},
            success: function (data) {
                console.log(data);
                var selDom1 = $("#model");
                selDom1.empty();
                $.each(data.model,function(n,value){
                    selDom1.append("<option value="+value+">"+value+"</option>");
                });
                $(".modelLayer").css({'display':'block'});
            }
        });
    });
    $("#mokuai1").change(function(){
        var data = $("#mokuai1").val()
        $.ajax({
            type: 'post',
            url: 'controller_step2',
            data: {mokuai:data},
            success: function (data) {
                console.log(data);
                var selDom1 = $("#model1");
                selDom1.empty();
                $.each(data.model,function(n,value){
                    selDom1.append("<option value="+value+">"+value+"</option>");
                });
                $(".modelLayer1").css({'display':'block'});
            }
        });
    });
</script>