{extend name="share:layout"/}
{block name="title"}登录控制器{/block}
{block name="body"}
<h3>登录控制器</h3>
<br>
<textarea readonly style="width: 100%; height: 750px; font-family: &quot;Courier New&quot;; font-size: 12px; line-height: 1.5;">
namespace app\{$mokuai}\controller;
use think\Controller;

//登录控制器
class Login extends Controller
{
    //空方法
    public function _empty($name)
    {
        return $this->error("空方法");//可跳转到404
    }
    //登录页面
    public function index()
    {
        //如果有登录信息则清除
        session("admin_user", null);
        return view();
    }
    //登录
    public function login()
    {
        //请求类型
        if (!request()->isPost()){
            return res(10000);
        }
        $postdata = input('param.');
        //验证器
        $result = $this->validate($postdata, 'Login.find');
        if (true !== $result) {
            return res(10001, '', $result);
        };
        $where = [
            'login_name' => input('login_name'),
        ];
        $data = db('sys_user')
            ->where($where)
            ->find();
        //登录名不存在
        if (!$data) {
            return res(10002);
        }
        //密码错误
        if (md5(input('password')) != $data['password']) {
            return res(10003);
        }
        //session登录信息
        $session = [
            'user_id' => $data['id'],
        ];
        session("admin_user", $session);
        return res(200, '', '登录成功');
    }
    //登出
    public function log_out(){
        //登录信息清除
        session("admin_user", null);
        return $this->redirect("/adminlogin");
    }
}
</textarea>
{/block}