{extend name="share:layout"/}
{block name="title"}模型 - 步骤1{/block}

{block name="body"}
<h3>模型代码生成 - 步骤1</h3>
{eq name='type' value='1'}
<form action="{:url('page_model_step2')}" method="get">
    选择模块：
    <select name="mokuai">
        <option value="">选择模块</option>
        {volist name="mokuai" id="vo"}
        <option value="{$vo}">{$vo}</option>
        {/volist}
    </select>
    <br><br>
    选择分层：
    <label>数据层<input type="radio" name="modelLayer" value="woman" checked="checked"/></label>
    <label>逻辑层<input type="radio" name="modelLayer" value="woman"/></label>
    <label>服务层<input type="radio" name="modelLayer" value="woman"/></label>
    <br><br>
    选择表：
    <select name="table">
        <option value="">选择表</option>
        {volist name="tables" id="vo"}
        <option value="{$vo.Name}">{$vo.Name} -- {$vo.Comment}</option>
        {/volist}
    </select>
    <br><br>
    <button type="submit" class="btn btn-w-m btn-primary">模型代码生成</button>
</form>
{else/}
sasa
{/eq}
{/block}
