{extend name="share:layout"/}
{block name="title"}控制器 - 步骤2{/block}
{block name="body"}
<h3>控制器 - 步骤2</h3>

<br>
<pre>
namespace app\{$data.mokuai|default='index'}\controller;
use think\Controller;

class {$data.controller_name|default=$data.table|ucfirst} extends {$data.controller|default='Controller'}
{
    //{$data.table}列表
    public function {$data.function_name|default=$data.table}list()
    {
	{notempty name="data.findfunction"}
	//查询条件
	$where = input('param.');
	$model = model('{$data.model}');
	$list = $model->{$data.findfunction}($where);
	$this->assign('page', $list->render());
	$this->assign('list', $list);
	{/notempty}
return view();
    }
    //add -- {$data.table}表
    public function {$data.function_name|default=$data.table}add(){

    	return view('edit');
    }
    //exit -- {$data.table}表
    public function {$data.function_name|default=$data.table}edit(){
	//条件
	$where = input('param.');
	$table = '{$data.table}';
	//调用公共方法
	$data = find_data($table,$where);
	$this->assign('data', $data);
	return view();
    }
	//集合add/exit -- {$data.table}表
    public function {$data.function_name|default=$data.table}save()
    {
	//条件
	$where = input('param.');
	if(empty($where['id'])){
	   //add
	   return view();
	}
	$table = '{$data.table}';
	//调用公共方法
	$data = find_data($table,$where);
	$this->assign('data', $data);
	return view();
    }
	//del -- {$data.table}表
    public function {$data.function_name|default=$data.table}del()
    {
	//条件
	$where = input('param.');
	$table = '{$data.table}';
	//调用公共方法
	$data = delete_data($table,$where);
	if($data){
	    $this->success('删除成功！','manager');
	}else{
	    $this->error('删除失败！');
	}
    }
	//add/exit数据 -- {$data.table}表
    public function save{$data.function_name|default=$data.table}()
    {
	$data = input('param.');
{notempty name="data.findfunction"}
	$model = model('{$data.model}');
	if(empty($data['id'])){
	    //add
{notempty name="data.validate"}
	    $result = $this->validate($data,'{$data.validate}.add');
	    if(true !== $result){
		$this->error(returnstr('10001',$result);
	    }else{
		$model->{$data.addfunction}()($data);
		$this->success(returnstr('200'),'{$data.function_name|default=$data.table}list');
	    }
{/notempty}
	}else{
	    //exit
{notempty name="data.validate"}
	    $result = $this->validate($data,'{$data.validate}.exit');
	    if(true !== $result){
		$this->error(returnstr('10001',$result);
	    }
	    $res = $model->{$data.addfunction}()($data);
	    if($res){
		$this->success(returnstr('200'),'{$data.function_name|default=$data.table}list');
	    }else{
		$this->error(returnstr('404'));
	    }
	}
{else/}
	    $res = $model->{$data.addfunction}()($data);
	    if($res){
		$this->success(returnstr('200'),'{$data.function_name|default=$data.table}list');
	    }else{
		$this->error(returnstr('404'));
	}
{/notempty}
    }
{else/}
	if(empty($data['id'])){
	    //add
	{notempty name="data.validate"}
	    $result = $this->validate($data,'{$data.validate}.add');
	    if(true !== $result){
	        $this->error(returnstr('10001',$result);
	    }else{

	    }
	{/notempty}
}else{
	    //exit
{notempty name="data.validate"}
	    $result = $this->validate($data,'{$data.validate}.exit');
	    if(true !== $result){
		$this->error(returnstr('10001',$result);
	    }
	}
{else/}
	}
{/notempty}
    }
{/notempty}
}
</pre>

{/block}